
<!doctype html>
<html lang="en" ng-app="mainApp"  lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Claire </title>

    <!-- included styles -->
    <link rel="stylesheet" href="{{ asset('bundles/simpleitclaireexercise/frontend/css/bootstrap-combined.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/simpleitclaireexercise/frontend/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/simpleitclaireexercise/frontend/css/custom-style.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/simpleitclaireexercise/frontend/css/loading-bar.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/simpleitclaireexercise/frontend/css/exercise.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/simpleitclaireexercise/frontend/css/lightbox.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/simpleitclaireexercise/frontend/css/font-awesome.min.css') }}">

    <!-- included vendors -->
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/angular.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/angular-resource.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/angular-route.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/ui-bootstrap-tpls.min.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/angular-ui-router.min.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/draganddrop.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/fileupload.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/loading-bar.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/lightbox.min.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/textAngular-sanitize.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/textAngular.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/textAngularSetup.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/vendors/angular-sanitize.min.js') }}"></script>

    <!-- common client app assets -->
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/apps.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/controllers.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/directives.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/teacher-routes.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/learner-routes.js') }}"></script>

    <!-- utils assets -->
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/modules/utils/services.js') }}"></script>
    <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>

    <!-- teacher assets -->
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/modules/teacher/controllers.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/modules/teacher/services.js') }}"></script>

    <!-- learner assets -->
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/modules/learner/learner-controllers.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/modules/learner/item-controllers.js') }}"></script>
    <script src="{{ asset('bundles/simpleitclaireexercise/frontend/js/modules/learner/services.js') }}"></script>

    <!-- translation -->
    <script>{%  include 'SimpleITClaireExerciseBundle:Frontend/js:translations.js.twig' %}</script>
    <!-- basic client app context definition -->
    <script>{%  include 'SimpleITClaireExerciseBundle:Frontend/js:base_config.js.twig' %} </script>
   

</head>
<body ng-controller="mainManagerController">

<div id="header">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="text-align: right">
        <div class="navbar-header">
            <ul class="nav navbar-brand">
                <li><a ui-sref="all-attempt-list"
                       title="{{ 'tentative.texte'|trans }}">{{ 'tentative.titre'|trans }}</a></li>
                <li><a ui-sref="model"
                       title="{{ 'model.exercice.texte'|trans }}">{{ 'model.exercice.titre'|trans }}</a></li>
                <li><a ui-sref="resource"
                       title="{{ 'ressource.texte'|trans }}">{{ 'ressource.titre'|trans }}</a></li>
            </ul>
        </div>
        <span>
        <a href="{{ path('claro_desktop_open') }}" title="{{ 'navigation.retour.claroline'|trans }}">
            <img src="{{ asset('bundles/clarolinecore/images/logos/clarolineconnect.png') }}"
                 style="margin-right:20px;margin-top:12px;height: 32px">
        </a></span>
    </nav>

</div>

<div id="content">
    <div ui-view></div>

</div>

</body>
</html>
